<h2>Assets Details</h2>

<!-- ASSET DETAILS -->

<ng-container *ngIf="!loadingAsset; else elseTemplate_loadingAsset">
  <ng-container *ngIf="!loadingAssetError; else elseTemplate_loadingAssetError">
    <app-asset-card [asset]="currentAsset!"></app-asset-card>
  </ng-container>
  <ng-template #elseTemplate_loadingAssetError>
    error loading asset
  </ng-template>
</ng-container>
<ng-template #elseTemplate_loadingAsset> loading... </ng-template>

<!-- SCANS LIST -->

<mat-divider></mat-divider>
<h2>Scans</h2>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
  <button
    mat-stroked-button
    color="primary"
    [disabled]="!currentAsset"
    (click)="handleAddScanClick()"
  >
    add scan
  </button>

  <button mat-stroked-button color="primary" (click)="handleRefreshClick()">
    refresh list
  </button>
</div>
<ng-container *ngIf="hasScans$ | async; else elseTemplate2">
  <!-- <div>{{ (scans$ | async)?.length }} scans</div> -->

  <app-scan-list [scans]="(scans$ | async) || []"></app-scan-list>
</ng-container>
<ng-template #elseTemplate2> no scans found </ng-template>
