<h1 mat-dialog-title>Scan Asset</h1>

<div mat-dialog-content>
  <p>Create a new scan for {{ asset.name }}</p>
  <!-- <p>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="data.scan_due_date"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p> -->

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input required matInput type="date" [(ngModel)]="date" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Time</mat-label>
      <input required matInput type="time" [(ngModel)]="time" />
    </mat-form-field>
  </p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="handleCancel()">Cancel</button>
  <button mat-button (click)="handleSubmit()" cdkFocusInitial>Scan</button>
  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button> -->
</div>
